default: &default
  adapter: mysql2
  encoding: utf8mb4
  username: root
  password: root
  host: localhost

development:
  <<: *default
  database: blog_app_development

test:
  adapter: mysql2
  encoding: utf8mb4
  database: blog_app_test
  username: root
  password: root
  host: 127.0.0.1
  port: 3306

production:
  <<: *default
  database: blog_app_production
