name: CI

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  scan_ruby:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true

      - name: Fix permissions
        run: chmod +x bin/brakeman

      - name: Run Brakeman Security Scan
        run: |
          bundle exec brakeman --no-pager --min-confidence 2 || true


  scan_js:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: .ruby-version
        bundler-cache: true

    - name: Install dependencies
      run: bundle install

    # Removed old importmap audit since it's not supported in Rails 8

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true

      - name: Ensure bin scripts are executable
        run: chmod +x bin/*
    
      - name: Lint code for consistent style
        run: bin/rubocop -f github

  test:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8.0
        ports:
          - 3306:3306
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: blog_app_test
        options: >-
          --health-cmd="mysqladmin ping -h 127.0.0.1 -uroot -proot"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
    - name: Install packages
      run: sudo apt-get update && sudo apt-get install --no-install-recommends -y build-essential git libyaml-dev pkg-config google-chrome-stable
  
    - name: Checkout code
      uses: actions/checkout@v5
  
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: .ruby-version
        bundler-cache: true
  
    - name: Ensure bin scripts are executable
      run: chmod +x bin/*
  
    - name: Wait for MySQL
      run: |
        echo "Waiting for MySQL to be ready..."
        until mysqladmin ping -h127.0.0.1 -uroot -proot --silent; do
          sleep 2
        done
  
    - name: Prepare test database
      env:
        RAILS_ENV: test
        DATABASE_URL: mysql2://root:root@127.0.0.1:3306/blog_app_test
      run: |
        bin/rails db:create db:schema:load
  
    - name: Run tests
      env:
        RAILS_ENV: test
        DATABASE_URL: mysql2://root:root@127.0.0.1:3306/blog_app_test
      run: bin/rails test test:system
  
    - name: Keep screenshots from failed system tests
      uses: actions/upload-artifact@v4
      if: failure()
      with:
        name: screenshots
        path: ${{ github.workspace }}/tmp/screenshots
        if-no-files-found: ignore
